.Overview {
    background-size: 20px 20px;
    width: 350px;
    margin: 0 auto;
}

.Overview {
    padding-top: 20px;
}

.Showcase-Item {
    white-space: nowrap;
    margin: 15px 0 40px 0;
    width: auto;
}

.Showcase-Item :not(.ButtonGroup) .Button2,
.Showcase-Item .Checkbox,
.Showcase-Item .Radiobox-Radio {
    /* margin-right: 10px; */
}

.Overview p {
    color: var(--color-typo-primary);
}

.Overview.Overview_dark p {
    color: white;
}

.Overview:not(.Overview_figma) {
    width: 616px;
}

.Showcase-Item.Showcase-Attach > * {
    margin-right: 24px;
}
