.Panel {
  all: unset;
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 23.5px;
  font-family: Inter;
  width: 100%;
}

.Panel:hover, .Panel:focus {
  background-color: rgba(218, 235, 247, 1);
  cursor: pointer;
}

.Panel_active {
  background-color: rgba(218, 235, 247, 1);
}

.Panel-Icon {
  margin-right: 10.5px;
}

.Panel-Label {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: rgba(123, 97, 255, 1);
}
