.Textinput_type_color .Textinput-Picker {
  padding: 6px;
}

.Textinput_type_color .Textinput-Picker {
  border: 1px solid transparent;
  border-right: 0;
}

.Textinput_type_color .Textinput-Hex {
  border: 1px solid transparent;
  border-left: 0;
}

.Textinput_type_color .Textinput-Alpha {
  border: 1px solid transparent;
  border-left: 0;
  padding-left: 7px;
  padding-right: 3px;
}

/* Borders on hover */
.Textinput_type_color:hover .Textinput-Picker {
  border: 1px solid rgba(0, 0, 0, 0.101961);
  border-right: 0;
  border-radius: 2px 0 0 2px;
}

.Textinput_type_color:hover .Textinput-Hex {
  border: 1px solid rgba(0, 0, 0, 0.101961);
  border-left: 0;
}

.Textinput_type_color:hover .Textinput-Alpha {
  border: 1px solid rgba(0, 0, 0, 0.101961);
  border-radius: 0 2px 2px 0;
  border-left: 0;
}

/* Remove borders from inputs and outlines */
.Textinput_type_color .Textinput-Alpha .input-field,
.Textinput_type_color .Textinput-Hex .input-field {
  height: 28px;
  width: 54px;
  border: 0;
  outline: 0;
  padding: 0;
}

.Textinput_type_color .Textinput-Alpha .input-field {
  width: 36px;
}

/* Кнопка линковки токена */
.Textinput_type_color .Textinput-BreakIcon {
  visibility: hidden;
  margin-left: 1px;
  filter: invert(100%) sepia(0%) saturate(698%) hue-rotate(219deg) brightness(66%) contrast(127%);
}

.Textinput_type_color:hover .Textinput-BreakIcon {
  visibility: visible;
}

.Textinput_type_color .Textinput-BreakIcon:hover {
  background: rgba(0, 0, 0, 0.0588235);
  border-radius: 2px;
  filter: none;
}

.Textinput_type_color .Textinput-BreakIcon:hover .icon {
  cursor: pointer;
}

.Textinput_type_color .icon-button {
  background: none;
}
