.ComponentsPage {
  display: flex;
  position: relative;
}

.ComponentsPage-Panels, .ComponentsPage-Playground, .ComponentsPage-Showcase {
  /* Убираем высоту Header'а и Divider'а */
  height: calc(100vh - 41px);
}

.ComponentsPage-Panels {
  width: 180px;
}

.ComponentsPage-Showcase {
  background: rgba(247, 248, 250, 1);
  flex: 1;
  /* position: relative; */
  overflow-x: hidden;
}

.Showcase-Content {
  align-items: center;
  justify-content: center;
}

.Theme_dark.ComponentsPage-Showcase {
  background: #272733;
}

.ComponentsPage-Playground, .ComponentsPage-TokenEditor {
  width: 316px;
}

.SunIcon {
  position: absolute;
  top: 18px;
  right: 336px;
}

.EyeIcon {
  position: absolute;
  top: 55px;
  right: 336px;
}
