.ComponentsPage {
  display: flex;
}

.ComponentsPage-Panels, .ComponentsPage-Showcase, .ComponentsPage-Playground {
  /* Убираем высоту Header'а и Divider'а */
  height: calc(100vh - 41px);
}

.ComponentsPage-Panels {
  width: 180px;
}

.ComponentsPage-Showcase {
  background: rgba(247, 248, 250, 1);
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.ComponentsPage-Playground {
  width: 400px;
}
