.Textinput .Textinput-Label {
  display: inline-block;
  width: 90px;
}

.TextinputField-Control {
  display: flex;
  align-items: center;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;

  letter-spacing: 0.005em;
}

.TextinputField-Input {
  width: 90%;
}

.Textinput_type_color {
  cursor: pointer;
}


.TextinputField-Control .Textinput_type_link,
.TextinputField-Control .Textinput_type_color {
  padding-left: 7px;
}

.Textinput_type_color .Textinput-BreakIcon {
  margin-left: auto;
}

.TextinputField-Control .Textinput-BreakIcon {
  margin-left: auto;
}

.TextinputField-Control.isHovered .Textinput_type_link {
  background: rgba(0, 0, 0, 0.0588235);
  border-radius: 2px;
}

.TextinputField-Control .ColorPicker {
  margin-right: 8px;
}

.TextinputField-Control .Textinput-Hex {
  width: 55px;
  height: 32px;
  line-height: 32px;
}

.TextinputField-Control .Textinput-Alpha {
  text-align: center;
  width: 40px;
}

.Textinput.Textinput_type_color {
  border: 1px solid white;
  border-radius: 2px;
}

.TextinputField-Control.isHovered .Textinput.Textinput_type_color {
  border: 1px solid rgba(0, 0, 0, 0.0588235);
}

.Textinput.Textinput_type_color .Textinput-Hex {
  border-right: 1px solid white;
}

.TextinputField-Control.isHovered .Textinput.Textinput_type_color .Textinput-Hex {
  border-right: 1px solid rgba(0, 0, 0, 0.0588235);
}
