.Playground-Header {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 16px;
	flex-shrink: 0;
}

.Playground-Body {
	padding: 26px 0 26px 18px;
  /* Убираем 2 высоты Header'а и Divider'а и padding сверху */
	height: calc(100vh - 26px * 2 - 41px * 2);
	overflow-y: scroll;
}
