.TextinputPrevious {
  margin-bottom: 2px;
}

.TextinputPrevious-Body {
  display: flex;
  align-items: center;
}

.TextinputPrevious:hover .Textinput-Label,
.TextinputPrevious:hover .TextinputPrevious-Body .TextinputPrevious-Hex,
.TextinputPrevious:hover .TextinputPrevious-Body .TextinputPrevious-Alpha {
  color: black;
  cursor: pointer;
}

.TextinputPrevious .Textinput-Label,
.TextinputPrevious-Body .TextinputPrevious-Hex,
.TextinputPrevious-Body .TextinputPrevious-Alpha {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: rgba(0, 0, 0, 0.301961);
}

.TextinputPrevious-Body .TextinputPrevious-Hex {
  padding-left: 34px;
}

.TextinputPrevious-Body .TextinputPrevious-Alpha {
  padding-left: 19px;
}
