.Tokens {
  display: flex;
  flex-direction: column;
  /* Убираем высоту Header'а и Divider'а */
  height: calc(100vh - 41px);
  padding: 13px 16px 16px 16px;
}

.Tokens .Tokens-Header {
  display: flex;
  align-items: center;

  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: left;

  margin-bottom: 12px;
}

.Tokens .Tokens-Header span:first-child {
  margin-right: 12px;
}

.Tokens .Tokens-Header .Tokens-Switch {
  padding: 0;
  padding-left: 42px;
}

.Tokens .Tokens-Textinput {
  flex: 1 1 100px;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: left;
}

.Tokens .Tokens-Buttons {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
}

.Tokens .Tokens-Buttons :not(:last-child) {
  margin-right: 20px;
}
