.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  justify-content: space-between;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.Header-Controls {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.Header-Controls .Control {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.2s ease;
}

.Header-Controls .Control:hover {
  color: rgba(0, 0, 0, 0.8);
}

.Header-Controls .Control .Reset-Icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: fill 0.2s ease;
}

.Header-Controls .Control .Reset-Icon path {
  fill: rgba(0, 0, 0, 0.3);
}

.Header-Controls .Control:hover .Reset-Icon path {
  fill: rgba(0, 0, 0, 0.8);
}

.Header .Header-Changes {
  position: relative;
}

.Header .Header-Changes.Header-Changes_notify::after {
  position: absolute;
  content: '';
  top: 2px;
  right: -6px;
  width: 4px;
  height: 4px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #FFFFFF;
  border-radius: 99px;
}
