.Theme_root_example-turbo {
    --attach-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --attach-typo-color: #000;
    --attach-reset-width: 12px;
    --attach-reset-height: 12px;
    --attach-reset-indentLeft: 5px;
    --attach-iconFile-indentRight: 5px;
    --attach-size-s-fontSize: 13px;
    --attach-size-s-lineHeight: 32px;
    --attach-size-s-holder-indentLeft: 6px;
    --attach-size-m-fontSize: 18px;
    --attach-size-m-lineHeight: 36px;
    --attach-size-m-holder-indentLeft: 8px;
    --attach-size-l-fontSize: 18px;
    --attach-size-l-lineHeight: 42px;
    --attach-size-l-holder-indentLeft: 10px;
    --badge-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --badge-size-small: 10px;
    --badge-size-large: 16px;
    --badge-font-size: 12px;
    --badge-border-radius: 8px;
    --badge-border-color: #fff;
    --badge-border-width: 2px;
    --badge-fill-color: #f33;
    --badge-typo-color: #fff;
    --button-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --button-border-width: 1px;
    --button-borderRadius: 12px; /* Радиус внутреннего блока */
    --button-size-s-font: 13px; /* Размер текста у s-button */
    --button-size-s-lineHeight: 36px; /* Межстрочный интервал текста у s-button */
    --button-size-s-height: 36px; /* Высота у s-button */
    --button-size-s-icon-width: 32px; /* Ширина иконки у s-button */
    --button-size-s-icon-indentLeft: 25px; /* Размер внешнего левого отступа текста от иконки у s-button */
    --button-size-s-icon-indentRight: 25px; /* Размер внешнего правого отступа текста от иконки у s-button */
    --button-size-s-text-indentAll: 0 13px; /* Размер внешнего отступа у s-button */
    --button-size-m-font: 14px; /* Размер текста у m-button */
    --button-size-m-lineHeight: 44px; /* Межстрочный интервал текста у m-button */
    --button-size-m-height: 44px; /* Высота у m-button */
    --button-size-m-icon-width: 36px; /* Ширина иконки у m-button */
    --button-size-m-icon-indentLeft: 29px; /* Размер внешнего левого отступа текста от иконки у m-button */
    --button-size-m-icon-indentRight: 29px; /* Размер внешнего правого отступа текста от иконки у m-button */
    --button-size-m-text-indentAll: 0 15px; /* Размер внешнего отступа у m-button */
    --button-size-l-font: 14px; /* Размер текста у l-button */
    --button-size-l-lineHeight: 52px; /* Межстрочный интервал текста у l-button */
    --button-size-l-height: 52px; /* Высота у l-button */
    --button-size-l-icon-width: 42px; /* Ширина иконки у l-button */
    --button-size-l-icon-indentLeft: 35px; /* Размер внешнего левого отступа текста от иконки у l-button */
    --button-size-l-icon-indentRight: 35px; /* Размер внешнего правого отступа текста от иконки у l-button */
    --button-size-l-text-indentAll: 0 18px; /* Размер внешнего отступа у l-button */
    --button-view-action-border-color-focused: #fc0;
    --button-view-action-fill-color-base: #0679ff;
    --button-view-action-fill-color-disabled: rgba(0, 0, 0, 0.1);
    --button-view-action-fill-color-hovered: #0868d9;
    --button-view-action-fill-color-progress-base: #067aff;
    --button-view-action-fill-color-progress-process: rgb(255, 213, 0);
    --button-view-action-fill-color-checked-base: #0679ff;
    --button-view-action-fill-color-checked-hovered: #0868d9;
    --button-view-action-typo-color-base: #000;
    --button-view-action-typo-color-disabled: rgb(128, 128, 128);
    --button-view-action-typo-color-hovered: #000;
    --button-view-action-typo-color-progress-base: #000;
    --button-view-action-typo-color-checked-base: rgb(255, 255, 255);
    --button-view-action-typo-color-checked-hovered: rgb(255, 255, 255);
    --button-view-clear-border-color-focused: #fc0;
    --button-view-clear-fill-color-disabled: rgba(0, 0, 0, 0.1);
    --button-view-clear-fill-color-checked-base: #0679ff;
    --button-view-clear-fill-color-checked-hovered: #0868d9;
    --button-view-clear-typo-color-base: #000;
    --button-view-clear-typo-color-disabled: rgb(128, 128, 128);
    --button-view-clear-typo-color-checked-base: rgb(255, 255, 255);
    --button-view-default-border-color-focused: #fc0;
    --button-view-default-fill-color-base: rgba(0, 0, 0, 0.1);
    --button-view-default-fill-color-disabled: rgba(0, 0, 0, 0.1);
    --button-view-default-fill-color-hovered: #c3c3c3;
    --button-view-default-fill-color-checked-base: #0679ff;
    --button-view-default-fill-color-checked-hovered: #0868d9;
    --button-view-default-typo-color-base: #000;
    --button-view-default-typo-color-disabled: rgb(128, 128, 128);
    --button-view-default-typo-color-checked-base: rgb(255, 255, 255);
    --button-view-default-typo-color-checked-hovered: rgb(255, 255, 255);
    --button-view-link-border-color-base: rgba(0, 68, 187, 0.6);
    --button-view-link-border-color-focused: #fc0;
    --button-view-link-fill-color-base: #fff;
    --button-view-link-fill-color-disabled: rgba(0, 0, 0, 0.1);
    --button-view-link-fill-color-hovered: rgba(0, 68, 187, 0.3);
    --button-view-link-fill-color-checked-base: #0679ff;
    --button-view-link-fill-color-checked-hovered: #0868d9;
    --button-view-link-typo-color-base: #04b;
    --button-view-link-typo-color-disabled: rgb(128, 128, 128);
    --button-view-link-typo-color-checked-base: rgb(255, 255, 255);
    --button-view-pseudo-border-color-base: rgb(204, 204, 204);
    --button-view-pseudo-border-color-focused: #fc0;
    --button-view-pseudo-fill-color-disabled: rgba(0, 0, 0, 0.1);
    --button-view-pseudo-fill-color-hovered: rgb(247, 247, 247);
    --button-view-pseudo-fill-color-checked-base: #0679ff;
    --button-view-pseudo-fill-color-checked-hovered: #0868d9;
    --button-view-pseudo-typo-color-base: #000;
    --button-view-pseudo-typo-color-disabled: rgb(128, 128, 128);
    --button-view-pseudo-typo-color-checked-base: rgb(255, 255, 255);
    --button-view-raised-border-color-focused: #fc0;
    --button-view-raised-fill-color-base: #fff;
    --button-view-raised-fill-color-disabled: #f5f5f5;
    --button-view-raised-fill-color-hovered: #f5f5f5;
    --button-view-raised-fill-color-checked-base: #0679ff;
    --button-view-raised-fill-color-checked-hovered: #0868d9;
    --button-view-raised-typo-color-base: #000;
    --button-view-raised-typo-color-disabled: #7f7f7f;
    --button-view-raised-typo-color-checked-base: rgb(255, 255, 255);
    --checkbox-view-outline-border-color: rgba(0, 0, 0, 0.1);
    --checkbox-view-outline-fill-color-base: transparent;
    --checkbox-view-outline-fill-color-hovered: #d2d2d2;
    --checkbox-view-outline-disabled-opacity: 0.4;
    --checkbox-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --checkbox-borderRadius: 4px;
    --checkbox-size-s-fontSize: 13px; /* Размер текста у s-checkbox */
    --checkbox-size-s-indentLeft: 5px; /* Размер внешнего левого отступа у s-checkbox (от текста) */
    --checkbox-size-s-width: 14px; /* Ширина у s-checkbox */
    --checkbox-size-s-height: 14px; /* Высота у s-checkbox */
    --checkbox-size-s-tick-width: 12px;
    --checkbox-size-s-tick-height: 8px;
    --checkbox-size-m-fontSize: 18px; /* Размер текста у m-checkbox */
    --checkbox-size-m-indentLeft: 5px; /* Размер внешнего левого отступа у m-checkbox (от текста) */
    --checkbox-size-m-width: 20px; /* Ширина у m-checkbox */
    --checkbox-size-m-height: 20px; /* Высота у m-checkbox */
    --checkbox-size-m-tick-width: 14px;
    --checkbox-size-m-tick-height: 10px;
    --checkbox-disabled-opacity: 0.6;
    --checkbox-view-default-outline-color: #fc0;
    --checkbox-view-default-fill-color-base: rgba(0, 0, 0, 0.1);
    --checkbox-view-default-fill-color-hovered: #c3c3c3;
    --checkbox-view-default-fill-color-checked-base: #0679ff;
    --checkbox-view-default-fill-color-checked-hovered: #0868d9;
    --checkbox-view-default-typo-color-base: #000;
    --checkbox-view-default-typo-color-checked-base: #fff;
    --checkbox-disable-opacity: 0.4;
    --divider-indent-all: 16px;
    --divider-fill-color: #e3e3e3;
    --link-view-default-outline-color: #fc0;
    --link-view-default-typo-color-base: #04b;
    --link-view-default-typo-color-disabled: rgba(0, 0, 0, 0.3);
    --link-view-default-typo-color-hovered: #c00;
    --menu-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --menu-group-borderWidth: 1px; /* Бордер у menu-group меню */
    --menu-size-s-fontSize: 13px; /* Размер текста у s-menu */
    --menu-size-s-lineHeight: 32px; /* Межстрочный интервал s-menu у s-menu */
    --menu-size-s-spaceVert: 4px; /* Размер вертикального внутреннего отступа у s-menu */
    --menu-size-s-group-spaceVert: 4px; /* Размер вертикального внутреннего отступа от группе у s-menu */
    --menu-size-s-group-spaceHor: 0; /* Размер горизонтального внутреннего отступа от группе у s-menu */
    --menu-size-s-group-indentBottom: 4px; /* Размер нижнего внешнего отступа от группы до пунктов у s-menu */
    --menu-size-s-item-spaceVert: 3px; /* Размер вертикального внутреннего отступа в пункте у s-menu */
    --menu-size-s-item-spaceHor: 9px; /* Размер горизонтального внутреннего отступа в пункте у s-menu */
    --menu-size-s-item-indentBottom: 4px; /* Размер правого внешнего отступа от иконки до текста у s-menu */
    --menu-size-s-item-icon-indentRight: 4px;
    --menu-size-s-titleSibling-indentLeft: 20px; /* Размер внешнего левого отступа у сущностей после тайтла у s-menu */
    --menu-size-m-fontSize: 18px; /* Размер текста у m-menu */
    --menu-size-m-lineHeight: 36px; /* Межстрочный интервал у m-menu */
    --menu-size-m-spaceVert: 5px; /* Размер вертикального внутреннего отступа у m-menu */
    --menu-size-m-group-spaceVert: 5px; /*  Размер вертикального внутреннего отступа в группе у m-menu */
    --menu-size-m-group-spaceHor: 0; /* Размер горизонтального внутреннего отступа в группе у m-menu */
    --menu-size-m-group-indentBottom: 5px; /* Размер нижнего внешнего отступа от группы до пунктов у m-menu */
    --menu-size-m-item-spaceVert: 4px; /* Размер вертикального внутреннего отступа в пункте у m-menu */
    --menu-size-m-item-spaceHor: 15px; /* Размер горизонтального внутреннего отступа в пункте у m-menu */
    --menu-size-m-item-indentBottom: 5px; /* Размер нижнего внешнего отступа от пунктов до группы у m-menu */
    --menu-size-m-item-icon-indentRight: 6px;
    --menu-size-m-titleSibling-indentLeft: 20px; /* Размер внешнего левого отступа у сущностей после тайтла у m-menu */
    --menu-view-default-border-color-base: rgb(179, 179, 179);
    --menu-view-default-fill-color-base: rgba(0, 0, 0, 0.1);
    --menu-view-default-fill-color-hovered: #c3c3c3;
    --menu-view-default-typo-color-base: #000;
    --menu-view-default-typo-color-secondary: rgba(0, 0, 0, 0.6);
    --menu-view-default-typo-color-disabled: rgb(128, 128, 128);
    --menu-view-default-typo-color-hovered: #000;
    --message-box-fontSize: 13px;
    --message-box-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --message-box-lineHeight: 20px;
    --message-box-hint-borderRadius: 4px;
    --message-box-close-lineHeight: 16px;
    --message-box-close-fontSize: 11px;
    --message-box-close-indentRight: 7px;
    --message-box-close-width: 16px;
    --message-box-close-height: 16px;
    --message-box-text-indentLeft: 12px;
    --message-box-text-indentRight: 16px;
    --message-box-content-spaceAll: 20px;
    --message-box-content-max-width: 180px;
    --message-box-size-s-tail-size: 14px; /* Размер хвоста у message-box */
    --message-box-size-s-tooltip-fontSize: 11px;
    --message-box-size-s-fontSize: 14px;
    --message-box-size-s-border-radius: 6px;
    --message-box-size-s-content-maxWidth: 260px;
    --message-box-size-s-content-spaceAll: 5px 10px;
    --message-box-size-s-content-functional-width: 180px;
    --message-box-size-m-tail-size: 24px; /* Размер хвоста у message-box */
    --message-box-size-m-tooltip-fontSize: 11px;
    --message-box-size-m-fontSize: 14px;
    --message-box-size-m-border-radius: 12px;
    --message-box-size-m-content-spaceAll: 10px 14px;
    --message-box-size-m-content-minWidth: 200px;
    --message-box-size-m-content-maxWidth: 280px;
    --message-box-size-m-content-tooltip-maxWidth: 320px;
    --message-box-size-m-content-functional-width: 280px;
    --message-box-size-l-tail-size: 22px; /* Размер хвоста у message-box */
    --message-box-size-l-functional-fontSize: 14px;
    --message-box-size-l-functional-lineHeight: 18px;
    --message-box-size-l-fontSize: 14px;
    --message-box-size-l-border-radius: 7px;
    --message-box-size-l-content-spaceAll: 15px 16px;
    --message-box-size-l-content-minWidth: 300px;
    --message-box-size-l-content-maxWidth: 344px;
    --message-box-size-l-content-width: 344px;
    --message-box-size-l-content-functional-width: 344px;
    --message-box-button-indentRight: 8px;
    --message-box-buttons-indentAll: -8px 4px 6px 16px;
    --message-box-view-default-typo-color: #fff;
    --message-box-view-default-fill-color: #000;
    --message-box-view-default-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --message-box-view-promo-typo-color: #fff;
    --message-box-view-promo-fill-color: #0057d3;
    --message-box-view-promo-shadow: 0px 8px 20px rgba(4, 89, 203, 0.32);
    --message-box-view-inverse-typo-color: #000;
    --message-box-view-inverse-fill-color: #fff;
    --message-box-view-inverse-shadow: 0 6px 20px -4px rgba(0, 0, 0, .7);
    --message-box-borderRadius: 12px;
    --message-box-viewdefault-shadow: none;
    --modal-border-radius: 16px;
    --popup-borderRadius: 4px;
    --popup-view-default-typo-color: #000;
    --popup-view-default-fill-color: #fff;
    --progressbar-height: 3px; /* Высота у progressbar */
    --progress-border-radius: 1.5px;
    --progress-outer-fill-color: rgba(0, 0, 0, 0.1);
    --progress-inner-fill-color: #067aff;
    --radio-button-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --radioButton-indent: 3px;
    --radioButton-borderRadius: 4px;
    --radioButton-after-borderRadius: 2px;
    --radioButton-size-s-fontSize: 13px;
    --radioButton-size-s-lineHeight: 28px;
    --radioButton-size-s-space: 0 13px;
    --radioButton-size-m-fontSize: 18px;
    --radioButton-size-m-lineHeight: 32px;
    --radioButton-size-m-space: 0 15px;
    --radioButton-size-l-fontSize: 18px;
    --radioButton-size-l-lineHeight: 38px;
    --radioButton-size-l-space: 0 18px;
    --radio-button-view-default-outline-color: #fc0;
    --radio-button-view-default-fill-color-base: rgba(0, 0, 0, 0.1);
    --radio-button-view-default-fill-color-checked-base: #fff;
    --radio-button-view-default-typo-color-base: rgba(0, 0, 0, 0.6);
    --radio-button-view-default-typo-color-hovered: #000;
    --radio-button-view-default-typo-color-checked-base: #000;
    --radiobox-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --radiobox-view-default-dot-fill-color: #fff;
    --radiobox-view-default-outline-color: #fc0;
    --radiobox-view-default-fill-color-base: rgba(0, 0, 0, 0.1);
    --radiobox-view-default-fill-color-hovered: #c3c3c3;
    --radiobox-view-default-fill-color-checked-base: #0679ff;
    --radiobox-view-default-fill-color-checked-hovered: #0868d9;
    --radiobox-view-default-typo-color-base: #000;
    --radiobox-view-outline-border-color: rgba(0, 0, 0, 0.1);
    --radiobox-view-outline-fill-color-base: transparent;
    --radiobox-view-outline-fill-color-hovered: #d9d9d9;
    --radiobox-view-outline-disabled-opacity: 0.4;
    --radiobox-borderRadius: 50%; /* Скругление внешних краев у radioBox */
    --radiobox-after-borderRadius: 50%; /* Скругление внутренних краев у radioBox */
    --radiobox-size-s-fontSize: 13px; /* Размер текста у s-radio */
    --radiobox-size-s-lineHeight: 28px; /* Межстрочный интервал текста у s-radio */
    --radiobox-size-s-size: 13px; /* Размер бокса у s-radio */
    --radiobox-size-s-positionTop: 2px; /* Верхний отступ у s-radio */
    --radiobox-size-s-indentRight: 5px; /* Размер внешнего правого отступа у s-radio (от текста)  */
    --radiobox-size-s-after-size: 5px;
    --radiobox-size-m-fontSize: 18px; /* Размер текста у m-radio */
    --radiobox-size-m-lineHeight: 32px; /* Межстрочный интервал текста у m-radio */
    --radiobox-size-m-size: 20px; /* Размер бокса у m-radio */
    --radiobox-size-m-positionTop: 3px; /* Верхний отступ у m-radio */
    --radiobox-size-m-indentRight: 6px; /* Размер внешнего правого отступа у m-radio (от текста)  */
    --radiobox-size-m-after-size: 10px;
    --radiobox-disabled-opacity: 0.6;
    --radiobox-disable-opacity: 0.4;
    --slider-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Шрифт слайдера */
    --slider-view-default-typo-color-base: #000; /* Цвет типографики внутри слайдера */
    --slider-view-default-height: 32px; /* Высота слайдера, без учета подписей */
    --slider-view-default-track-border-radius: 2px; /* Внешний радиус скругления трека */
    --slider-view-default-track-height: 2px; /* Высота трека */
    --slider-view-default-track-fill-color-base: rgba(0, 0, 0, 0.15); /* Цвет заливки трека в обычном состоянии */
    --slider-view-default-track-fill-color-hovered: rgba(0, 0, 0, 0.25); /* Цвет заливки трека в состоянии наведения */
    --slider-view-default-range-fill-color-base: #0679ff; /* Цвет заливки диапазона в обычном состоянии */
    --slider-view-default-range-fill-color-hovered: #0868d9; /* Цвет заливки диапазона в состоянии наведения */
    --slider-view-default-range-fill-color-disabled: rgba(0, 0, 0, 0.15); /* Цвет заливки диапазона в неактивном состоянии */
    --slider-view-default-thumb-width: 16px; /* Ширина бегунка */
    --slider-view-default-thumb-height: 16px; /* Высота бегунка */
    --slider-view-default-thumb-border-radius: 50%; /* Внешний радиус скругления бегунка */
    --slider-view-default-thumb-fill-color-base: #fff; /* Цвет заливки бегунка в обычном состоянии */
    --slider-view-default-thumb-fill-color-disabled: #000; /* Цвет заливки бегунка в неактивном состоянии */
    --slider-view-default-tick-fill-color-base: #fff; /* Цвет заливки метки в обычном состоянии */
    --slider-view-default-tick-width: 2px; /* Ширина метки */
    --slider-view-default-tick-height: 2px; /* Высота метки */
    --slider-view-default-tick-label-font-size: 13px; /* Размер шрифта подписи метки */
    --slider-view-default-tick-label-line-height: 16px; /* Высота шрифта подписи метки */
    --spin-size-xxs: 16px;
    --spin-size-xs: 24px;
    --spin-size-s: 28px;
    --spin-size-m: 32px;
    --spin-size-l: 38px;
    --spin-view-default-border-color: #067aff;
    --tabs-menu-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --tabsMenu-size-s-font: 13px;
    --tabsMenu-size-s-lineHeight: 28px;
    --tabsMenu-size-m-font: 18px;
    --tabsMenu-size-m-lineHeight: 36px;
    --tabs-menu-view-default-outline-color: #fc0;
    --tabs-menu-view-default-active-line-fill-color-active: #000;
    --tabs-menu-view-default-typo-color-base: #000;
    --text-display-size-xl-font-size: 3.5rem;
    --text-display-size-xl-line-height: 4rem;
    --text-display-size-xl-letter-spacing: normal;
    --text-display-size-xl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-display-size-l-font-size: 3rem;
    --text-display-size-l-line-height: 3.5rem;
    --text-display-size-l-letter-spacing: 0.0065em;
    --text-display-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-display-size-m-font-size: 2.5rem;
    --text-display-size-m-line-height: 3rem;
    --text-display-size-m-letter-spacing: 0.0065em;
    --text-display-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-display-size-s-font-size: 2.125rem;
    --text-display-size-s-line-height: 2.5rem;
    --text-display-size-s-letter-spacing: 0.0065em;
    --text-display-size-s-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-headline-size-xl-font-size: 2rem;
    --text-headline-size-xl-line-height: 2.5rem;
    --text-headline-size-xl-letter-spacing: 0.0065em;
    --text-headline-size-xl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-headline-size-l-font-size: 1.75rem;
    --text-headline-size-l-line-height: 2.25rem;
    --text-headline-size-l-letter-spacing: 0.0065em;
    --text-headline-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-headline-size-m-font-size: 1.5rem;
    --text-headline-size-m-line-height: 1.875rem;
    --text-headline-size-m-letter-spacing: 0.0065em;
    --text-headline-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-headline-size-s-font-size: 1.25rem;
    --text-headline-size-s-line-height: 1.5rem;
    --text-headline-size-s-letter-spacing: 0.0065em;
    --text-headline-size-s-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-headline-size-xs-font-size: 1.125rem;
    --text-headline-size-xs-line-height: 1.5rem;
    --text-headline-size-xs-letter-spacing: 0.0065em;
    --text-headline-size-xs-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-subheader-size-xl-font-size: 1rem;
    --text-subheader-size-xl-line-height: 1.25rem;
    --text-subheader-size-xl-letter-spacing: 0.0065em;
    --text-subheader-size-xl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-subheader-size-l-font-size: 0.9375rem;
    --text-subheader-size-l-line-height: 1.125rem;
    --text-subheader-size-l-letter-spacing: 0.0065em;
    --text-subheader-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-subheader-size-m-font-size: 0.875rem;
    --text-subheader-size-m-line-height: 1.125rem;
    --text-subheader-size-m-letter-spacing: 0.0065em;
    --text-subheader-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-subheader-size-s-font-size: 0.8125rem;
    --text-subheader-size-s-line-height: 1.125rem;
    --text-subheader-size-s-letter-spacing: 0.0065em;
    --text-subheader-size-s-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-long-size-xl-font-size: 1rem;
    --text-body-long-size-xl-line-height: 1.5rem;
    --text-body-long-size-xl-letter-spacing: 0.0065em;
    --text-body-long-size-xl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-long-size-l-font-size: 0.9375rem;
    --text-body-long-size-l-line-height: 1.25rem;
    --text-body-long-size-l-letter-spacing: 0.0065em;
    --text-body-long-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-long-size-m-font-size: 0.875rem;
    --text-body-long-size-m-line-height: 1.25rem;
    --text-body-long-size-m-letter-spacing: 0.0065em;
    --text-body-long-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-long-size-s-font-size: 0.8125rem;
    --text-body-long-size-s-line-height: 1.125rem;
    --text-body-long-size-s-letter-spacing: 0.0065em;
    --text-body-long-size-s-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-short-size-xl-font-size: 1rem;
    --text-body-short-size-xl-line-height: 1.25rem;
    --text-body-short-size-xl-letter-spacing: 0.0065em;
    --text-body-short-size-xl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-short-size-l-font-size: 0.9375rem;
    --text-body-short-size-l-line-height: 1.125rem;
    --text-body-short-size-l-letter-spacing: 0.0065em;
    --text-body-short-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-short-size-m-font-size: 0.875rem;
    --text-body-short-size-m-line-height: 1.125rem;
    --text-body-short-size-m-letter-spacing: 0.0065em;
    --text-body-short-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-body-short-size-s-font-size: 0.8125rem;
    --text-body-short-size-s-line-height: 1rem;
    --text-body-short-size-s-letter-spacing: 0.0065em;
    --text-body-short-size-s-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-caption-size-xl-font-size: 0.8125rem;
    --text-caption-size-xl-line-height: 1rem;
    --text-caption-size-xl-letter-spacing: 0.0065em;
    --text-caption-size-xl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-caption-size-l-font-size: 0.75rem;
    --text-caption-size-l-line-height: 1rem;
    --text-caption-size-l-letter-spacing: 0.0065em;
    --text-caption-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-caption-size-m-font-size: 0.6875rem;
    --text-caption-size-m-line-height: 1rem;
    --text-caption-size-m-letter-spacing: 0.0065em;
    --text-caption-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-overline-size-l-font-size: 0.75rem;
    --text-overline-size-l-line-height: 0.875rem;
    --text-overline-size-l-letter-spacing: 0.0065em;
    --text-overline-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-overline-size-m-font-size: 0.6875rem;
    --text-overline-size-m-line-height: 0.875rem;
    --text-overline-size-m-letter-spacing: 0.0065em;
    --text-overline-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-overline-size-s-font-size: 0.625rem;
    --text-overline-size-s-line-height: 0.75rem;
    --text-overline-size-s-letter-spacing: 0.0065em;
    --text-overline-size-s-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-control-size-xxl-font-size: 1.125rem;
    --text-control-size-xxl-line-height: 1.5rem;
    --text-control-size-xxl-letter-spacing: 0.0065em;
    --text-control-size-xxl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-control-size-xl-font-size: 1rem;
    --text-control-size-xl-line-height: 1.25rem;
    --text-control-size-xl-letter-spacing: 0.0065em;
    --text-control-size-xl-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-control-size-l-font-size: 0.9375rem;
    --text-control-size-l-line-height: 1.25rem;
    --text-control-size-l-letter-spacing: 0.0065em;
    --text-control-size-l-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-control-size-m-font-size: 0.875rem;
    --text-control-size-m-line-height: 1rem;
    --text-control-size-m-letter-spacing: 0.0065em;
    --text-control-size-m-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-control-size-s-font-size: 0.8125rem;
    --text-control-size-s-line-height: 1rem;
    --text-control-size-s-letter-spacing: 0.0065em;
    --text-control-size-s-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-control-size-xs-font-size: 0.75rem;
    --text-control-size-xs-line-height: 1rem;
    --text-control-size-xs-letter-spacing: 0.0065em;
    --text-control-size-xs-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --text-control-size-xxs-font-size: 0.6875rem;
    --text-control-size-xxs-line-height: 1rem;
    --text-control-size-xxs-letter-spacing: 0.0065em;
    --text-control-size-xxs-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --textarea-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --textarea-borderWidth: 2px;
    --textarea-borderRadius: 4px; /* Ширина бордера у textarea */
    --textarea-size-s-fontSize: 13px; /* Размер текста у s-textarea */
    --textarea-size-s-spaceAll: 6px; /* Внутренние отступы у s-textarea  */
    --textarea-size-s-minWidth: 180px; /* Размер минимальной ширины у s-textarea */
    --textarea-size-s-minHeight: 32px; /* Размер минимальной высоты у s-textarea */
    --textarea-size-s-clear-width: 32px; /* Ширина очищающего контрола у s-textarea */
    --textarea-size-s-clear-height: 32px; /* Высота очищающего контрола у s-textarea */
    --textarea-hint-size-s-fontSize: 12px;
    --textarea-size-m-fontSize: 18px; /* Размер текста у m textarea */
    --textarea-size-m-spaceAll: 8px; /* Внутренние отступы m-textarea */
    --textarea-size-m-minWidth: 200px; /* Размер минимальной ширины у m-textarea */
    --textarea-size-m-minHeight: 36px; /* Размер минимальной высоты у m-textarea */
    --textarea-size-m-clear-width: 36px; /* Ширина очищающего контрола у m-textarea */
    --textarea-size-m-clear-height: 36px; /* Высота очищающего контрола у m-textarea */
    --textarea-hint-size-m-fontSize: 13px;
    --textarea-view-default-fill-color-base: #fff;
    --textarea-view-default-fill-color-disabled: rgb(242, 242, 242);
    --textarea-view-default-fill-color-hovered: #fff;
    --textarea-view-default-typo-color-base: #000;
    --textarea-view-default-typo-color-disabled: rgb(128, 128, 128);
    --textarea-view-default-placeholder-typo-color-base: rgba(0, 0, 0, 0.3);
    --textarea-view-default-placeholder-typo-color-disabled: rgb(128, 128, 128);
    --textarea-view-default-icon-fill-color-base: rgba(0, 0, 0, 0.3);
    --textarea-view-default-clear-fill-color-base: rgba(0, 0, 0, 0.3);
    --textarea-view-default-clear-fill-color-hovered: #000;
    --textarea-view-default-hint-typo-color-state-error-base: rgb(224, 0, 0);
    --textarea-view-default-border-color-base: rgb(217, 217, 217);
    --textarea-view-default-border-color-disabled: rgb(242, 242, 242);
    --textarea-view-default-border-color-focused: rgb(179, 179, 179);
    --textarea-view-default-border-color-hovered: rgb(204, 204, 204);
    --textarea-view-default-border-color-state-error-base: #f33;
    --textarea-view-default-border-color-state-error-hovered: rgb(224, 0, 15);
    --textinput-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --textinput-borderWidth: 2px;
    --textinput-borderRadius: 4px;
    --textinput-size-s-fontSize: 13px; /* Размер текста у s-textinput */
    --textinput-size-s-height: 32px; /* Высота самого s-textinput */
    --textinput-size-s-control-spaceAll: 0 8px; /* Размер внутреннего отступа самого s-textinput  */
    --textinput-size-s-has-icon-spaceRight: 32px; /* Размер внутреннего правого отступа под размер иконки или крестика у s-textinput */
    --textinput-size-s-has-icon-spaceLeft: 32px; /* Размер внутреннего левого отступа под размер иконки или крестика у s-textinput */
    --textinput-size-s-icon-width: 32px;
    --textinput-size-s-icon-height: 32px;
    --textinput-hint-size-s-fontSize: 12px;
    --textinput-size-m-fontSize: 18px; /* Размер текста у m-textinput */
    --textinput-size-m-height: 36px; /* Высота самого m-textinput */
    --textinput-size-m-control-spaceAll: 0 10px; /* `--textinput-size-m-control-spaceAll` *— Размер внутреннего отступа самого m-textinput* */
    --textinput-size-m-has-icon-spaceRight: 36px; /* Размер внутреннего правого отступа под размер иконки или крестика у m-textinput */
    --textinput-size-m-has-icon-spaceLeft: 36px; /* Размер внутреннего правого отступа правого отступа под размер иконки или крестика у m-textinput */
    --textinput-size-m-icon-width: 36px;
    --textinput-size-m-icon-height: 36px;
    --textinput-hint-size-m-fontSize: 13px;
    --textinput-view-material-typo-color-base: #000;
    --textinput-view-material-typo-color-disabled: rgba(0, 0, 0, 0.4);
    --textinput-view-material-border-color-base: rgba(0, 0, 0, 0.1);
    --textinput-view-material-border-color-state-error: #FF3737;
    --textinput-view-material-font-size: 1rem;
    --textinput-view-material-space-all: 12px 0 10px;
    --textinput-view-material-space-left: 16px;
    --textinput-view-material-space-right: 16px;
    --textinput-view-material-space-top: 16px;
    --textinput-view-material-icon-fill-color-base: rgba(0, 0, 0, 0.8);
    --textinput-view-material-icon-fill-color-disabled: rgba(0, 0, 0, 0.5);
    --textinput-view-material-icon-width: 24px;
    --textinput-view-material-icon-height: 24px;
    --textinput-view-material-hint-font-size: 0.75rem;
    --textinput-view-material-hint-typo-color-base: rgba(0, 0, 0, 0.4);
    --textinput-view-material-hint-typo-color-state-error: #FF3737;
    --textinput-view-material-caret-color-base: #067AFF;
    --textinput-view-material-caret-color-state-error: #FF3737;
    --textinput-view-material-placeholder-typo-color-base: rgba(0, 0, 0, 0.3);
    --textinput-view-material-label-color-base: rgba(0, 0, 0, 0.25);
    --textinput-view-material-label-color-state-error: #FF3737;
    --textinput-view-material-label-color-floated-base: rgba(0, 0, 0, 0.4);
    --textinput-view-material-variant-filled-border-color-focused: #067AFF;
    --textinput-view-material-variant-filled-fill-color: rgba(0, 0, 0, 0.05);
    --textinput-view-material-variant-filled-label-color-floated: #067AFF;
    --textinput-view-material-variant-outlined-border-color-base: rgba(0, 0, 0, 0.1);
    --textinput-view-material-variant-outlined-border-color-focused: #067AFF;
    --textinput-view-material-variant-outlined-label-color-floated: #067AFF;
    --textinput-view-default-fill-color-base: #fff;
    --textinput-view-default-fill-color-disabled: rgb(242, 242, 242);
    --textinput-view-default-fill-color-hovered: #fff;
    --textinput-view-default-typo-color-base: #000;
    --textinput-view-default-typo-color-disabled: rgb(128, 128, 128);
    --textinput-view-default-placeholder-typo-color-base: rgba(0, 0, 0, 0.3);
    --textinput-view-default-placeholder-typo-color-disabled: rgb(128, 128, 128);
    --textinput-view-default-icon-fill-color-base: rgba(0, 0, 0, 0.3);
    --textinput-view-default-clear-fill-color-base: rgba(0, 0, 0, 0.3);
    --textinput-view-default-clear-fill-color-hovered: #000;
    --textinput-view-default-hint-typo-color-state-error-base: rgb(224, 0, 0);
    --textinput-view-default-border-color-base: rgb(217, 217, 217);
    --textinput-view-default-border-color-disabled: rgb(242, 242, 242);
    --textinput-view-default-border-color-focused: rgb(179, 179, 179);
    --textinput-view-default-border-color-hovered: rgb(204, 204, 204);
    --textinput-view-default-border-color-state-error-base: #f33;
    --textinput-view-default-border-color-state-error-hovered: rgb(224, 0, 15);
    --tooltip-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --tooltip-borderRadius: 4px;
    --tooltip-size-s-fontSize: 13px; /* Размер текста у s-tooltip */
    --tooltip-size-s-lineHeight: 12px; /* Межстрочный интервал текста у s-tooltip */
    --tooltip-size-s-content-spaceAll: 8px; /* Размер внутренних отступов у контента s-tooltip */
    --tooltip-size-s-tail-size: 12px; /* Размер хвоста s-tooltip */
    --tooltip-size-m-fontSize: 18px; /* Размер текста у m-tooltip */
    --tooltip-size-m-lineHeight: 14px; /* Межстрочный интервал текста у m-tooltip */
    --tooltip-size-m-content-spaceAll: 9px 10px; /* Размер внутренних отступов у контента m-tooltip */
    --tooltip-size-m-tail-size: 12px; /* Размер хвоста m-tooltip */
    --tooltip-size-l-fontSize: 16px; /* Размер текста у l-tooltip */
    --tooltip-size-l-lineHeight: 16px; /* Межстрочный интервал текста у l-tooltip */
    --tooltip-size-l-content-spaceAll: 18px; /* Размер внутренних отступов у контента l-tooltip */
    --tooltip-size-l-tail-size: 18px; /* Размер хвоста l-tooltip */
    --tooltip-view-default-shadow: 0 10px 20px -5px rgba(0, 0, 0, .4);
    --tooltip-view-default-fill-color-base: rgba(0, 0, 0, 0.1);
    --tooltip-view-default-fill-color-state-success: #00985f;
    --tooltip-view-default-fill-color-state-warning: #f90;
    --tooltip-view-default-fill-color-state-alert: #f33;
    --tooltip-view-default-typo-color-state-success: rgb(255, 255, 255);
    --tooltip-view-default-typo-color-state-warning: rgb(255, 255, 255);
    --tooltip-view-default-typo-color-state-alert: rgb(255, 255, 255);
    --tumbler-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --tumbler-button-space: 2px;
    --tumbler-button-opacity-disabled: 0.4;
    --tumbler-button-color-disabled: rgba(0, 0, 0, 0.1);
    --tumbler-button-color-disabled-active: #0679ff;
    --tumbler-size-s-fontSize: 13px; /* Размер текста s-tumbler */
    --tumbler-size-s-lineHeight: 16px; /* Межстрочный интервал текста у s-tumbler */
    --tumbler-size-s-borderRadius: 8px;
    --tumbler-size-s-width: 32px; /* Ширина s-tumbler */
    --tumbler-size-s-height: 16px; /* Высота s-tumbler */
    --tumbler-size-s-button-borderRadius: 6px;
    --tumbler-size-s-button-width: 12px; /* Ширина button m-tumbler */
    --tumbler-size-s-button-height: 12px; /* Высота button m-tumbler */
    --tumbler-size-s-button-press-width: 14px;
    --tumblerLabel-size-s-indentRight: 8px;
    --tumblerLabel-size-s-indentLeft: 8px;
    --tumbler-size-m-fontSize: 18px; /* Размер текста m-tumbler */
    --tumbler-size-m-lineHeight: 20px; /* Межстрочный интервал текста у m-tumbler */
    --tumbler-size-m-borderRadius: 10px;
    --tumbler-size-m-width: 34px; /* Ширина m-tumbler */
    --tumbler-size-m-height: 20px; /* Высота m-tumbler */
    --tumbler-size-m-button-borderRadius: 8px;
    --tumbler-size-m-button-width: 16px; /* Ширина button m-tumbler */
    --tumbler-size-m-button-height: 16px; /* Высота button m-tumbler */
    --tumbler-size-m-button-press-width: 18px;
    --tumblerLabel-size-m-indentRight: 12px;
    --tumblerLabel-size-m-indentLeft: 12px;
    --tumbler-size-l-fontSize: 18px;
    --tumbler-size-l-lineHeight: 24px;
    --tumbler-size-l-borderRadius: 14px;
    --tumbler-size-l-width: 56px;
    --tumbler-size-l-height: 28px;
    --tumbler-size-l-button-borderRadius: 12px;
    --tumbler-size-l-button-width: 24px;
    --tumbler-size-l-button-height: 24px;
    --tumbler-size-l-button-press-width: 26px;
    --tumblerLabel-size-l-indentRight: 16px;
    --tumblerLabel-size-l-indentLeft: 16px;
    --tumbler-view-default-outline-color: #fc0;
    --tumbler-view-default-fill-color-base: rgba(0, 0, 0, 0.1);
    --tumbler-view-default-fill-color-disabled: rgba(0, 0, 0, 0.1);
    --tumbler-view-default-fill-color-hovered: #c3c3c3;
    --tumbler-view-default-fill-color-checked-base: #0679ff;
    --tumbler-view-default-fill-color-checked-disabled: rgba(0, 0, 0, 0.1);
    --tumbler-view-default-fill-color-checked-hovered: #0868d9;
    --tumbler-view-default-button-fill-color-base: #fff;
    --tumbler-view-default-typo-color-base: #000;
    --tumbler-view-default-typo-color-disabled: rgb(128, 128, 128);
    --user-pic-size-m-size: 48px;
    --user-pic-size-m-size-plus: 58px;
    --user-pic-size-s-size: 24px;
    --user-pic-size-s-size-plus: 30px;
    --typography-font-family: 'YS Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --typography-font-weight-light: 300;
    --typography-font-weight-regular: 400;
    --typography-font-weight-medium: 500;
    --typography-font-weight-bold: 700;
    --control-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --typography-controls-size-s-font-size: 13px;
    --typography-controls-size-m-font-size: 18px;
    --typography-controls-size-l-font-size: 18px;
    --color-base: #000; /* базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
    --color-essential: #fff; /* базовый цвет поверхностей */
    --color-project: #fc0; /* проектный цвет, от которого выстраивают акцентные состояния */
    --color-phantom: #000; /* тонирующий цвет, от которого выстраиваются бордеры, паранджа, ... */
    --color-path: #04b; /* ссылочный цвет, от которого выстраиваются все их вариации */
    --color-success: #00985f; /* цвет успеха, от которого выстраивается как статусный фон так и типографика */
    --color-alert: #f33; /* цвет ошибки, от которого выстраивается как статусный фон так и типографика */
    --color-warning: #f90; /* цвет предупреждения, от которого выстраивается как статусный фон так и типографика */
    --color-normal: #dde3e5; /* нейтральный цвет, от которого выстраивается как статусный фон так и типографика */
    --color-system: #778a9b; /* системный цвет, от которого выстраивается как статусный фон так и типографика */
    --color-promo: #0057d3;
    --color-hover: #c00;
    --color-bg-brand: #fc0;
    --color-bg-inverse: #000;
    --color-bg-action: rgb(255, 219, 77);
    --color-bg-selection: rgb(255, 234, 158);
    --color-bg-hover: rgba(0, 0, 0, 0.15);
    --color-bg-border: rgba(0, 0, 0, 0.05);
    --color-bg-stripe: rgba(0, 0, 0, 0.04);
    --color-bg-ghost: rgba(0, 0, 0, 0.08);
    --color-bg-default: #fff;
    --color-bg-tone: rgba(0, 0, 0, 0.9);
    --color-bg-soft: rgba(255, 255, 255, 0.97);
    --color-bg-success: #00985f;
    --color-bg-alert: #f33;
    --color-bg-warning: #f90;
    --color-bg-normal: #dde3e5;
    --color-bg-system: #778a9b;
    --color-bg-link: rgba(21, 126, 239, 0.4);
    --color-bg-promo: #0057d3;
    --color-typo-brand: #fc0;
    --color-typo-primary: #000; /* цвет основного текста дефолтных контролов */
    --color-typo-inverse: #fff;
    --color-typo-promo: rgba(0, 0, 0, 0.8);
    --color-typo-secondary: rgba(0, 0, 0, 0.6); /* цвет второстепенного текста контрола */
    --color-typo-ghost: rgba(0, 0, 0, 0.3); /* цвет дополнительного текста контрола */
    --color-typo-disable: rgba(0, 0, 0, 0.3); /* цвет основного текста неактивного контрола */
    --color-typo-success: #00985f;
    --color-typo-warning: #f90;
    --color-typo-alert: rgb(224, 0, 0);
    --color-link: #04b; /* цвет фона ссылки */
    --color-link-external: #04b;
    --color-link-minor: rgb(102, 102, 153);
    --color-link-hover: #c00; /* цвет фона ссылки по ховеру */
    --color-control-bg-border-focus: rgb(179, 179, 179); /* цвет фона бордеров контрола при фокусе */
    --color-control-bg-border-prism: #fc0; /* цвет фона бордера офсетных выделений контрола */
    --color-control-typo-primary: #000;
    --color-control-typo-secondary: rgba(0, 0, 0, 0.6);
    --color-control-typo-ghost: rgba(0, 0, 0, 0.3);
    --color-control-typo-passive: #000;
    --color-control-typo-faint: rgb(255, 255, 255);
    --color-control-typo-disable: rgb(128, 128, 128);
    --color-control-typo-link: #04b;
    --color-control-typo-error: rgb(224, 0, 0);
    --color-control-bg-default: rgba(0, 0, 0, 0.1); /* цвет фона контрола */
    --color-control-bg-default-hover: #c3c3c3; /* цвет фона контрола по ховеру */
    --color-control-bg-default-press: #c3c3c3; /* цвет фона контрола по нажатию */
    --color-control-bg-default-disable: rgba(0, 0, 0, 0.1); /* цвет фона неактивного контрола */
    --color-control-bg-border-default: rgb(179, 179, 179); /* цвет фона бордеров контрола */
    --color-control-bg-border-default-hover: rgb(219, 219, 219); /* цвет фона бордеров контрола по ховеру */
    --color-control-bg-border-default-press: rgb(179, 179, 179); /* цвет фона бордеров контрола по нажатию */
    --color-control-bg-border-default-disable: rgb(232, 232, 232); /* цвет фона бордеров неактивного контрола */
    --color-control-bg-border-default-error: #f33;
    --color-control-bg-border-default-error-hover: rgb(224, 0, 15);
    --color-control-bg-pseudo: rgb(255, 255, 255); /* цвет фона псевдо контрола */
    --color-control-bg-pseudo-hover: rgb(247, 247, 247); /* цвет фона псевдо контрола по ховеру */
    --color-control-bg-border-pseudo: rgb(204, 204, 204); /* цвет бордеров псевдо контрола */
    --color-control-bg-action: #0679ff; /* цвет фона активного контрола */
    --color-control-bg-action-hover: #0868d9; /* цвет фона активного контрола по ховеру */
    --color-control-bg-action-press: #0868d9; /* цвет фон активного контролы по нажатию */
    --color-control-type-action-fill-color-disable: #0679ff;
    --color-control-bg-passive: #fff; /* цвет фона пассивной части контрола */
    --color-control-bg-progress: #067aff; /* цвет фон активного контрола в прогрессе */
    --color-control-bg-progress-process: rgb(255, 213, 0); /* цвет фон активного контрола в прогрессе выполнения */
    --color-control-bg-blank: #fff; /* цвет фона пустого контрола */
    --color-control-bg-blank-hover: #fff; /* цвет фона пустого контрола по ховеру */
    --color-control-bg-blank-disable: rgb(242, 242, 242); /* цвет фона пустого неактивного контрола */
    --color-control-bg-border-blank: rgb(217, 217, 217); /* цвет фона бордеров пустого контрола */
    --color-control-bg-border-blank-hover: rgb(204, 204, 204); /* цвет фона бордеров пустого контрола по ховеру */
    --color-control-bg-border-blank-disable: rgb(242, 242, 242); /* цвет фона бордеров пустого неактивного контрола */
    --color-control-bg-faint: #fff; /* цвет фона ослабленной части контрола */
    --color-control-bg-faint-disable: rgb(199, 199, 199); /* цвет фона ослабленной части неактивного контрола */
    --color-control-bg-check: #0679ff; /* цвет фона чекнутого контрола */
    --color-control-bg-check-hover: #0868d9; /* цвет фона чекнутого контрола по ховеру */
    --color-control-bg-check-press: #0868d9; /* цвет фона чекнутого контрола по нажатию */
    --color-control-bg-check-disable: #0679ff; /* цвет фона чекнутого неактивного контрола */
    --color-control-bg-border-check: rgb(168, 135, 0); /* цвет фона бордеров чекнутого контрола */
    --color-control-bg-border-check-hover: rgb(168, 135, 0); /* цвет фона бордеров чекнутого контрола по ховеру */
    --color-control-bg-border-check-press: rgb(168, 135, 0); /* цвет фона бордеров чекнутого контрола при фокусе по нажатию */
    --color-control-bg-link-default: #04b;
    --color-control-bg-link-default-hover: rgba(0, 68, 187, 0.3);
    --color-control-bg-border-link-default: rgba(0, 68, 187, 0.6);
    --color-control-bg-border-link-default-hover: rgba(0, 68, 187, 0.6);
    --color-control-typo-raised: #000;
    --color-control-typo-raised-disable: #7f7f7f;
    --color-control-bg-raised: #fff;
    --color-control-bg-raised-hover: #f5f5f5;
    --color-control-bg-raised-disable: #f5f5f5;
    --color-control-bg-raised-check: #fff;
    --space-3-xs: 2px;
    --space-2-xs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-2-xl: 32px;
    --space-3-xl: 40px;
    --space-4-xl: 48px;
    --space-5-xl: 72px;
    --space-6-xl: 96px;
}
