.Tokens-Section {
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 16px 8px 16px;
    padding-bottom: 8px;
    margin: 0 -16px;
}

.Tokens-Section:last-of-type {
    border-bottom: none;
}

.Tokens-Section:first-child {
    margin-top: -26px;
}

.Tokens-SectionHeader {
    font-weight: 600;
    font-size: 11px;
    line-height: 32px;
    margin: 0;
}
