.TextinputField-Label {
  display: inline-block;
  width: 300px;
}

.TextinputField-Control {
  display: flex;
  align-items: center;
}

.TextinputField-Input {
  width: 90%;
}

.Textinput_has_color .Textinput-Body {
  margin-left: 8px;
}
