.Textinput.Textinput_type_link {
	
}

.Textinput.Textinput_type_link .Textinput-BreakIcon {
	display: hidden;
}

.Textinput.Textinput_type_link:hover .Textinput-BreakIcon {
	display: block;
}

.Textinput .icon-button {
    background: none;
}
